@media(max-width:768px){

    .hero .container{
        flex-direction:column;

    }
}


@media (max-width: 992px) {

    .vehicles-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media (max-width: 768px) {

    .vehicles-grid {
        grid-template-columns: 1fr;
    }

}


