/* Hero */
@media (max-width: 768px) {

    .hero .container {
        flex-direction: column;
    }

}


/* Tablet - Featured Vehicles */
@media (max-width: 992px) {

    .vehicles-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Mobile - Featured Vehicles */
@media (max-width: 768px) {

    .vehicles-grid {
        grid-template-columns: 1fr;
    }

}


/* About */
@media (max-width: 768px) {

    .about .container {
        flex-direction: column;
        gap: 40px;
    }

}


/* Contact */
@media (max-width: 768px) {

    .contact .container {
        flex-direction: column;
        gap: 40px;
    }

}


/* Footer + Mobile Menu */
@media (max-width: 768px) {

    .footer .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }


        .header .container {
            flex-wrap: wrap;
        }

        .menu-toggle {
            display: block;
        }

        .header-menu {
            display: none;
            width: 100%;
            flex-direction: column;
            align-items: stretch;
            gap: 25px;
        }

        .header-menu.active {
            display: flex;
        }

        .navigation ul {
            flex-direction: column;
            gap: 20px;
        }

        .search input {
            width: 100%;
        }

        .header-actions {
            width: 100%;
        }

        .header-actions .btn {
            display: block;
            text-align: center;
        }

}

/* ☰
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .navigation {
        display: none;
    }

} */

@media (max-width: 768px) {

    .navigation.active {
        display: block;
    }

    .navigation ul {
        flex-direction: column;
        gap: 20px;
    }

}