
/*desktop*/
@media(max-width:768px){

    .hero .container{
        flex-direction:column;

    }
}

/*tablet*/
@media (max-width: 992px) {

    .vehicles-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*mobil*/

@media (max-width: 768px) {

    .vehicles-grid {
        grid-template-columns: 1fr;
    }

}


/* Contact */

/* X Desktop - X tablet - * Mobile */

@media (max-width: 768px) {

    .about .container {
        flex-direction: column;
        gap: 40px;
    }

}



@media (max-width: 768px) {

    .contact .container {
        flex-direction: column;
        gap: 40px;
    }

}



/*Footer*/
@media(max-width:768px){

    .footer .container{
        flex-direction:column;

    }
}

/*tablet*/
@media (max-width: 992px) {

    .footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*mobil*/

@media (max-width: 768px) {

    .footer .container {
        grid-template-columns: 1fr;
    }

}
