* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--font-primary);
    background-color: var(--primary-bg);
    color: var(--text-color);
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


.header {
    padding: 25px 0;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}


.navigation ul {
    display: flex;
    gap: 35px;
    list-style: none;
}


.navigation a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.btn {
    background-color: white;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}